@model IndexViewModel

<style>
    .form-links {
        margin-left: 10px;
        width: 120px;
    }

    .carousel-item img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .card {
        margin: 20px 10px;
    }

    .cart {
        margin: 20px 10px;
        padding: 10px;
        border: 1px solid #efefef;
        border-radius: 5px;
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }

        .cart:hover {
            cursor: pointer;
            box-shadow: 0px 8px 13px -3px rgba(0,0,0,0.1);
            transition: 0.3s;
        }

    .card img {
        height: 200px;
        object-fit: cover;
        filter: drop-shadow(1px 2px 3px #9e9e9e);
    }
</style>


<div class="container mt-5">
    <h2 class="text-center">Categories</h2>
    <hr />
    <div class="d-flex justify-content-center flex-wrap mt-3">
        @foreach (var category in Model.Janrs)
        {
            <a href="#" class="cart" style="width:10rem;">
                <div class="d-flex justify-content-center">
                    <img src="@category.Name" width="100" height="100" style="object-fit: contain" asp-append-version="true" alt="...">
                </div>
                <div>
                    <div class="d-flex justify-content-center" style="align-items: center">
                        <span style="font-size: 18px; font-weight: bold">@category.Name</span>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


<div class="container mt-5 mb-5">
    <h2 class="text-center">Popular</h2>
    <hr />
    <div class="d-flex justify-content-start flex-wrap mt-3">
        @foreach (var car in Model.Books)
        {
            <div class="card" style="width: 22rem;">
                @if (car.ImagePath.Any())
                {
                    <img src="@car!.ImagePath.FirstOrDefault()" asp-append-version="true" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="~/assets/img/default.png" asp-append-version="true" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <div class="d-flex justify-content-between" style="align-items: center">
                        <div>
                            <h6 class="card-title">@car.Janr.Name</h6>
                            <h4>@car.Name</h4>
                        </div>
                        <div>
                            <h5 class="card-text">Price: $@car.Price</h5>
                        </div>
                    </div>
                    <div class="my-2 d-flex justify-content-between">
                        <a asp-controller="home" asp-action="more" asp-route-id="@car.Id" class="btn btn-dark" style="width: 80%">More</a>
                        <button onclick="updateCart(@car.Id)" class="btn btn-outline-primary" style="font-size: 18px"><i class="bi bi-bag-plus"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

